{% extends 'base.html' %}
{% block content %}
<body style="background-color: #a9cbd7;" >
    {% set view = namespace(value=False) %}
    {% if survey_list %}
        <p style="font-size: 30px; text-align: center; padding-top: 15%">최근 설문 일자는 {{survey_list[-1][1]}} 입니다.
            <br> 이날의 점수는 {{ survey_list[-1][0] }}점 입니다</p>
        {% if survey_list[-1][0] <= 10 %}
            <p style="font-size: 30px; text-align: center;">우울증 징후가 발견되지 않았습니다</p>
        {% else %}
            <p style="font-size: 30px; text-align: center;">우울증 의심 상태입니다</p>
        {% endif %}
        <div id="linechart" style="margin: 0px 100px;"></div>
    {% else %}
        <p style="font-size: 50px; text-align: center; line-height: 50vh">기록이 없습니다.</p>
    {% endif %}

    <script>
        var survey_list = {{ survey_list|tojson }};
        var axis_x = ['x']
        var axis_y = [{{ g_user.username|tojson }}]

        for (var value of survey_list){
            axis_y.push(value[0]);
            axis_x.push(value[1]);
        }

        var chart = c3.generate({
            bindto: "#linechart",
            data: {
                x: 'x',
                xFormat: '%Y/%m/%d %H:%M',
                columns: [
                    axis_x,
                    axis_y
                ]
            },
            axis: {
                x: {
                    label: {
                        text: 'Date'
                    },
                    type : 'category',
			        tick: {
                        rotate: 30,
					    format: '%Y-%m-%d %H:%M'
			        }
                },
                y: {
                    beginAtZero: true,
                    max: 15,
                    stepSize : 1,
                    // min: 1,
                    label: { // ADD
                        text: 'Score'
                    }
                }
            }
        });
    </script>
</body>

{% endblock %}