<!doctype html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Hello</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript">
            var check1 = true;
            var check2 = true;
            $(document).ready(function(){
                $("#nav ul.sub2").hide();
                $('.contents1').animate({
                    scrollTop: $('#latest').offset().top
                });

                $("#nav ul li ul").click(function(){
                    check1 = false;
                    check2 = false;
                    $("#nav ul.menu1").click(function(){
                        check1 = true;
                        check2 = true;
                    });
                    $("#nav ul.menu2").click(function(){
                        check1 = true;
                        check2 = true;
                    });
                });
                $("#nav ul.menu1").click(function(){
                    if(check1){
                        $("ul li ul.sub1").slideToggle("slow");
                    }
                });
                $("#nav ul.menu2").click(function(){
                    if(check2){
                        $("ul li ul.sub2").slideToggle("slow");
                    }
                });   
            });
        </script>
    </head>
    <body class="fade">
        <div id="wrapper">
            <!-- 네비게이션바 -->
            {% include "navbar.html" %}
            <!-- 기본 템플릿 안에 삽입될 내용 Start -->
            {% block content %}
            {% endblock %}
            <!-- 기본 템플릿 안에 삽입될 내용 End -->
        </div>
        
        <!-- {% include "footer.html" %} -->
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
              window.setTimeout(() => {
                document.body.classList.remove('fade');
              });
            });
        </script>
    </body>
</html>