{% extends 'base.html' %}
{% block content %}
<!-- 메인 영역 -->
<div class="container1" style='background-color: #a9cbd7'>

    <!-- 사이드바 영역 -->
    <div class="sidebar1">
        123<br>
        456
  
      <!-- 메뉴 상태 변경 버튼 추가 -->
      <label class="toggle1">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  
    <!-- 
              컨텐츠 영역 : 
              - 더미 텍스트(Lorem ipsum)을 활용하여 내용 강제로 늘려 테스트
          -->
    <div class="contents1">
        <body>
            <div class="wrap">
                {% if question_list %}
                    {% for question in question_list %}
                        <div class="chat ch2">
                            <div class="icon"><i class="fa-solid fa-user"></i></div>
                            <div class="textbox">{{ question.contents }}</div>
                            <div class="date">{{ question.create_date }}</div>
                        </div>
                        {% if question.answer_set %}
                            <div class="chat ch1">
                                <div class="icon"><i class="fa-solid fa-user"></i></div>
                                <div class="textbox">{{ question.answer_set[0].contents }}</div>
                                <div class="date">{{ question.create_date }}</div>
                            </div>
                        {% endif %}  
                    {% endfor %}
                {% else %}
                    <p> 기록이 없습니다 </p>
                {% endif %}
            </div>
        </body>
    </div>
  
</div>
<script src="{{ url_for('static', filename='menu.js') }}"></script>
{% endblock %}
